In [ ]:
#dictionary
        # -- dictionary(다양한 형태?)
e1={'mag':0.05,'width':20}
e2={'mag':0.04,'width':25}
e3={'mag':0.05,'width':80}
e4={'mag':0.03,'width':30}
events={500:e1,1750:e2,3000:e3,4320:e4}
events[500]['mag']#0.05
events[500]['mag']+events[1750]['mag']+events[4320]['mag']+events[3000]['mag']#16999999999999998

#query data with some imaginary function - 95p
people=[]
people=[{'first': 'Sam', 'last': 'Malone', 'age': 32},
{'first': 'John', 'last': 'Smith', 'age': 25},
{'first': 'John', 'last': 'Snow', 'age': 33},
{'first': 'James', 'last': 'Baker', 'age': 40}]
print( people[3]['age']-people[0]['age'] ) #res 8
    #[list data][dict data]
    #example)
print("Same age is : ",people[0]['age'])
print("James age is: ",people[3]['age'])
print("The age difference is",people[3]['age']-people[0]['age'] )
"""
Same age is :  32
James age is:  40
The age difference is 8
"""
i=2 ;j=3
print("{} {}'s age is :{}".format(people[i]['first'],people[i]['last'],people[i]['age']))
print("{0} {1}'s age is :{2}".format(people[j]['first'],people[j]['last'],people[j]['age']))
#formatting res same
d=people[3]['age']-people[0]['age']
print("The age difference is",d)
#another way....
#for i in range(4):
#    print("{} {}'s age is :{}".format(people[i]['first'],people[i]['last'],people[i]['age']))
"""
The age difference is 8
Sam Malone's age is :32
John Smith's age is :25
John Snow's age is :33
James Baker's age is :40
"""
#people=query_database(db_name)
"""
John Snow's age is :33
James Baker's age is :40
The age difference is 8
"""
#these k accuried error
#a={[1,2]:"hello",{1:1,2:2}:"world"}
a[3.6]="HEllo W"
idx=1.2*3.0
#print(a[idx])#it either occur error(float is not satisfied)
#but it is correct
a={3.30:"hello",5:"world"}
    #dicitionaries - update
person={}
person['first']='Jmes'#it has to be "James"
person['last']='McDonald'
person['born']=1938
#and middle name is missing
print (person)#{'first': 'James', 'last': 'McDonald', 'born': 1938}
person_modi={'first':'James','middle':'clerk'}
person.update(person_modi)#useing function..update data to correct data
#print(person) #{'first': 'James', 'last': 'McDonald', 'born': 1938, 'middle': 'clerk'}
    #Accessing & Deleting k and v
barn={'donkey':10,'cows':1,'dogs':5,'cats':4}
'cows' in barn #True
'chicken' in barn #False
#dict.keys() :Return a list of all keys in the dictionary
barn.keys()
#dict.values() : Return a list of all values in the dictionary
barn.values()
sum(barn.values())#10
#dict.items()
barn.items()#dict_items([('cows', 1), ('dogs', 5), ('cats', 4)])
#딕셔너리는 값이 colums형태 이다. 하지만 이를 이용시 tuple로 나옴.
barn['sheep']=20
#Access using index notation
#barn['chickens']#occure Key error
barn['cows']
#Access with get(key, default(if key not found.. usinng it))
barn.get('dog','unknown')
barn.get('chickens','unknown')#it return default
#animal=barn['donkey']+barn['horse']+barn['dog']+barn['chicken'] #ocurr k error(about no exists k)
animal=barn.get('donkey',0)+barn.get('hourse',0)+barn.get('dogs',0)+barn.get('chicken',0)
#print(animal)#print exist k value sum 
for animal in['donkey','cows','dogs','cats','chickens']:#chicken is not exist.. but no error
    #instead...barn.keys()
    print(animal,barn.get(animal,0))
#Remove an entry with del
del barn['cats']
#Remove with pop(key, default)
barn.pop('dogs',0)
barn.pop('cats',0)

In [81]:
    #create a codon table using dictionary
#DNA code!!!!(START CONDON-TAA-->PRESENT to "*") 101p
codon_table={
    'TTT':'F','TTC':'F','TTA':'L','TTG':'L',
    'TCT': 'S', 'TCC': 'S', 'TCA': 'S', 'TCG': 'S',
    'TAT': 'Y', 'TAC': 'Y', 'TAA': '*', 'TAG': '*',
    'TGT': 'C', 'TGC': 'C', 'TGA': '*', 'TGG': 'W',
    'CTT': 'L', 'CTC': 'L', 'CTA': 'L', 'CTG': 'L',
    'CCT': 'P', 'CCC': 'P', 'CCA': 'P', 'CCG': 'P',
    'CAT': 'H', 'CAC': 'H', 'CAA': 'Q', 'CAG': 'Q',
    'CGT': 'R', 'CGC': 'R', 'CGA': 'R', 'CGG': 'R',
    'ATT': 'I', 'ATC': 'I', 'ATA': 'I', 'ATG': 'M',
    'ACT': 'T', 'ACC': 'T', 'ACA': 'T', 'ACG': 'T',
    'AAT': 'N', 'AAC': 'N', 'AAA': 'K', 'AAG': 'K',
    'AGT': 'S', 'AGC': 'S', 'AGA': 'R', 'AGG': 'R',
    'GTT': 'V', 'GTC': 'V', 'GTA': 'V', 'GTG': 'V',
    'GCT': 'A', 'GCC': 'A', 'GCA': 'A', 'GCG': 'A',
    'GAT': 'D', 'GAC': 'D', 'GAA': 'E', 'GAG': 'E',
    'GGT': 'G', 'GGC': 'G', 'GGA': 'G', 'GGG': 'G',
}
dna='ATGTTGACGGCATTTTTATGATGAATC'
#translation
codon_table[dna[0:3]]
codon_table[dna[3:6]]#.....
i=0;a=0;c=len(dna)
for i in range(c):
        a=i+3
        print(codon_table[dna[i:a]],end=' ')

M C V L * D T R G A H I F F F L Y M * D M * E N I S

KeyError: 'CA'